.question{
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none !important;
  background-color: grey !important;
  color: black;
  margin-bottom:10px ;
  margin-right: 20px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  border: 3px solid black !important;
  &:hover{
    background-color: black !important;
    color: white;
  }

}